<plugin name='validation' version='0.8.2' griffonVersion='0.9.4 &gt; *' jdk='1.5'>
  <author>Nick Zhu</author>
  <authorEmail>nzhu@jointsource.com</authorEmail>
  <title>Griffon Validation Plugin</title>
  <description>A validation plugin that provides Grails like validation capability using constraints</description>
  <documentation>http://griffon.codehaus.org/Validation+Plugin</documentation>
  <license>Apache Software License 2.0</license>
  <resources>
    <resource>BuildConfig</resource>
    <resource>Config</resource>
  </resources>
  <dependencies>
    <plugin name='i18n' version='0.4.1' />
  </dependencies>
</plugin>